.Prompt-Template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.Prompt-Template-params {
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #fcfcfc;
    /* position: relative; */
  }
  
  .content {
    position: relative; /*absolute*/
    top: 50%;
    display: flex;
    gap: 20px;
  }

  .input-fields-container {
    display: flex;
    margin-top: 2rem;
  }
  
  .input-field {
    margin-bottom: 1rem; /* Space between fields */
  }

  .input-field label {
    margin: 0.3rem; /* Space between label and input */
  }

  .input-textbox, .input-textarea {
    width: 100%; 
    padding: 0.5em;
    margin: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
  }
  
  .input-small {
    max-width: 250px; 
  }
  
  .input-large {
    width: 400px;
    background: white;
  }
  
  