.Prompt-Template {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.Prompt-Template-params {
    display: block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    background-color: #fcfcfc;
    /* position: relative; */
  }
  
  .content {
    position: relative; /*absolute*/
    top: 50%;
    display: flex;
    gap: 20px;
  }